/* Introduction section - Section 2*/

// Introduction text - 1st column
.section-2-introduction {
  max-width: 100vw;
  margin-left: auto;
  margin-right: auto;
  padding: 3rem 1rem;
  background: $clr-primary-10;

  .section-2-text {
    flex-direction: column;

    h2 {
      font-size: 1.5rem;
    }

    p {
      text-align: justify;
      line-height: 2;
      padding-bottom: 2rem;
    }
  }
}

// Education - 2nd column
.section-2-education {
  background: $clr-white;
  box-shadow: $light-shadow;
  transition: $transition;
  padding-top: 3rem;
  padding-bottom: 2rem;
  margin-bottom: 1rem;
  flex-direction: column;

  &:hover {
    box-shadow: $dark-shadow;
  }

  h4 {
    text-align: center;
  }

  p {
    text-align: center;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    line-height: 2;

    .education-span {
      font-weight: 700;
    }
  }

  .education-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-size: 1.5rem;
    color: $clr-primary-5;
  }
}

// Work experience - 3rd column
.section-2-work {
  background: $clr-white;
  box-shadow: $light-shadow;
  transition: $transition;
  padding-top: 3rem;
  padding-bottom: 2rem;
  flex-direction: column;

  &:hover {
    box-shadow: $dark-shadow;
  }

  h4 {
    text-align: center;
  }

  p {
    text-align: center;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    line-height: 2;

    .span-work-1,
    .span-work-2 {
      font-weight: 700;
    }

    .span-work-2 {
      display: inline-block;
      margin-top: 0.75rem;
      color: $clr-primary-3;
    }
  }

  .work-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-size: 1.5rem;
    color: $clr-primary-5;
  }
}

// Media queries
@media screen and (min-width: 768px) {
  .section-2-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    max-width: 1152px;
    margin-left: auto;
    margin-right: auto;
  }

  .section-2 {
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: calc(33% - 3rem);
    padding-bottom: 3rem;
    margin-bottom: 0;
    flex-direction: column;
  }

  .section-2-text {
    align-self: start;
  }

  .section-2-text h2 {
    padding-top: 0;
  }
}
