/* ====================== */
/* Footer section - Section 7 */
/* ====================== */

.footer-container {
  padding-top: 5rem;
  padding-bottom: 3rem;
}

.social-icons {
  text-align: center;
  font-size: 2rem;
  margin-bottom: 1rem;
}

.social-icon {
  margin-left: 1rem;
  color: $clr-primary-5;
}

.footer-text {
  text-align: center;
  font-size: larger;
}
