@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* variables */
:root {
  /* dark shades of primary color*/
  --clr-primary-1: hsl(125, 59%, 8%);
  --clr-primary-2: hsl(125, 84%, 25%);
  --clr-primary-3: hsl(125, 81%, 29%);
  --clr-primary-4: hsl(125, 77%, 34%);
  /* primary/main color */
  --clr-primary-5: rgb(11, 45, 14);
  /* lighter shades of primary color */
  --clr-primary-6: hsl(125, 57%, 50%);
  --clr-primary-7: hsl(125, 65%, 59%);
  --clr-primary-8: hsl(125, 80%, 74%);
  --clr-primary-9: hsl(125, 94%, 87%);
  --clr-primary-10: hsl(125, 100%, 96%);
  /* darkest grey - used for headings */
  --clr-grey-1: hsl(209, 61%, 16%);
  --clr-grey-2: hsl(211, 39%, 23%);
  --clr-grey-3: hsl(209, 34%, 30%);
  --clr-grey-4: hsl(209, 28%, 39%);
  /* grey used for paragraphs */
  --clr-grey-5: hsl(210, 22%, 49%);
  --clr-grey-6: hsl(209, 23%, 60%);
  --clr-grey-7: hsl(211, 27%, 70%);
  --clr-grey-8: hsl(210, 31%, 80%);
  --clr-grey-9: hsl(212, 33%, 89%);
  --clr-grey-10: hsl(210, 36%, 96%);
  --clr-white: #fff;
  --ff-primary: "Roboto", sans-serif;
  --ff-header: "Bebas Neue", "Roboto", sans-serif;
  --transition: all 0.3s linear;
  --spacing: 0.25rem;
  --radius: 0.5rem;
  --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

/* Global styles */
img:not(.nav-logo) {
  width: 100%;
  display: block;
}

body {
  font-family: var(--ff-primary);
  background: var(--clr-white);
  color: var(--clr-grey-1);
  line-height: 1.25;
  font-size: 0.875rem;
}

ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}

h1,
h2,
h3,
h4 {
  font-family: var(--ff-header);
  letter-spacing: var(--spacing);
  text-transform: capitalize;
  line-height: 1.25;
  margin-bottom: 0.75rem;
  color: var(--clr-primary-5);
}

.btn {
  text-transform: uppercase;
  background: var(--clr-primary-5);
  color: var(--clr-white);
  padding: 0.7rem 1.25rem;
  display: inline-block;
  transition: var(--transition);
  font-size: 0.875rem;
  border: 2px solid transparent;
  cursor: pointer;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
}
.btn:hover {
  color: var(--clr-primary-1);
  background: var(--clr-primary-2);
}
/* ====================== */
/* Navbar */
/* ====================== */

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: var(--clr-white);
  z-index: 2;
  /* border: 2px solid red; */
}

.nav-center {
  width: 100%;
  max-width: 1170px;
  margin: 0 auto;
  /* border: 2px solid red; */
}

.nav-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  /* border: 2px solid red; */
}

.nav-links {
  /* border: 2px solid red; */
}

.nav-logo {
  height: 30px;
}

.nav-toggle {
  background: transparent;
  border: transparent;
  font-size: 1.5rem;
  color: var(--clr-primary-5);
  cursor: pointer;
  transition: var(--transition);
}

.nav-toggle:hover {
  transform: scale(1.5);
}

.nav-link {
  display: block;
  padding: 1rem 2rem;
  text-transform: capitalize;
  font-weight: 700;
  transition: var(--transition);
  color: var(--clr-grey-1);
  cursor: pointer;
  font-size: 1rem;
}

.nav-link:hover {
  color: var(--clr-primary-1);
  background: var(--clr-primary-10);
  padding-left: 3rem;
}

/* 280px */
.nav-links {
  height: 0;
  overflow: hidden;
  transition: var(--transition);
}

.show-links {
  height: 280px;
}

@media screen and (min-width: 992px) {
  .navbar {
    /* padding: 1rem 2rem; */
    padding: 1rem 0;
  }

  /* hide toggle button */
  .nav-toggle {
    display: none;
  }

  .nav-center {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    max-width: 1152px;
  }

  .nav-links {
    height: auto;
    display: flex;
  }

  .nav-header {
    padding: 0 1rem;
  }

  .nav-link {
    padding: 0 0;
    margin-right: 2rem;
    margin-left: 1rem;
    letter-spacing: normal;
    font-weight: 700;
  }

  .nav-link:hover {
    scale: 1.25;
    padding: 0;
    background: transparent;
  }
}

/* ====================== */
/* Hero section  - Section 1*/
/* ====================== */

.about-section {
  margin-top: 0;
  margin-bottom: 3rem;
}

.hero-img {
  max-height: 100vh;
  max-width: 100vw;
  object-fit: cover;
  margin-left: auto;
  margin-right: auto;
  margin-top: 62px;
  padding: 0 1rem;
}

.about-container {
  max-width: 100vw;
  margin-left: auto;
  margin-right: auto;
  padding: 3rem 1rem;
}

.about-container h1 {
  padding-bottom: 1.25rem;
  font-size: 2rem;
}

.about-container p {
  padding-bottom: 2.5rem;
}

.btn-about-1 {
  margin-right: 1.25rem;
}

.btn-about-1 a {
  color: var(--clr-white);
}

.hero-button-2 {
  color: var(--clr-primary-5);
}

.btn-about-1:hover {
  scale: 1.2;
}

.btn-about-2 {
  border: 2px solid var(--clr-primary-5);
  background: var(--clr-white);
}

.btn-about-2:hover {
  background: var(--clr-white);
  scale: 1.2;
}

@media screen and (min-width: 768px) {
  .about-section {
    display: flex;
    max-width: 1152px;
    /* justify-content: space-between; */
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
  }

  .section-1 {
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: calc(50% - 3rem);
  }

  .about-container {
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    align-self: center;
    /* max-width: 50%; */
  }

  .about-container p {
    max-width: 90%;
  }
}

/* ====================== */
/* Introduction section - Section 2*/
/* ====================== */

.section-2-introduction {
  max-width: 100vw;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1rem;
  padding-right: 1rem;
  background: var(--clr-primary-10);
  /* max-width: 1152px; */
  /* border: red solid 2px; */
}

.section-2 h2 {
  font-size: 1.5rem;
  padding-top: 4rem;
}

.section-2 p {
  /* margin-bottom: 1.5rem; */
  /* border: red solid 2px; */
}

.section-2-image {
  /* border: red solid 2px; */
  padding-bottom: 3rem;
  padding-top: 2rem;
}

.me-image {
  max-height: 400px;
  object-fit: contain;
  /* border: red solid 2px; */
}

.section-2-text {
  /* border: red solid 2px; */
  /* max-width: 1152px; */
}

@media screen and (min-width: 768px) {
  .section-2-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    max-width: 1152px;
    margin-left: auto;
    margin-right: auto;
  }

  .section-2 {
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: calc(50% - 3rem);
  }

  .section-2-text {
    align-self: center;
  }

  .section-2-text h2 {
    padding-top: 0;
  }
}
/* ====================== */
/* Watercolor section - Section 3 */
/* ====================== */

.section-3 {
  padding-right: 1rem;
  padding-left: 1rem;
}

.section-3 h2 {
  margin-top: 4rem;
  text-align: center;
  font-size: 1.5rem;
}

.section-3-img-container {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

.btn-section-2 {
  display: block;
  margin-left: auto;
  margin-right: auto;
  background: transparent;
  border: 2px solid var(--clr-primary-5);
  transition: var(--transition);
  margin-bottom: 3rem;
}

.section-2-button {
  color: var(--clr-primary-5);
}

.btn-section-2:hover {
  scale: 1.2;
  background: transparent;
}

@media screen and (min-width: 768px) {
  .section-3 {
    max-width: 1152px;
    margin-left: auto;
    margin-right: auto;
  }

  .section-3-photos {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  .section-3-img-container {
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: calc(50% - 3rem);
  }
}

@media screen and (min-width: 992px) {
  .section-3-img-container {
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: calc(33.33% - 3rem);
  }
}

/* ====================== */
/* Skills section - Section 4 */
/* ====================== */

.section-4 {
  max-width: 100vw;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-bottom: 3rem;
  background: var(--clr-primary-10);
}

.section-4 h1 {
  padding-top: 4rem;
  text-align: center;
}

.section-4-item {
  background: var(--clr-white);
  padding: 6rem 2rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
  position: relative;
  transition: var(--transition);
}

.section-4-icon {
  color: var(--clr-primary-5);
  font-size: 2rem;
  position: absolute;
  top: 2.5rem;
  left: 50%;
  transform: translateX(-50%);
}

.section-4-text h3 {
  margin-top: 1rem;
  margin-bottom: 2rem;
  text-align: center;
}

.section-4-text p {
  line-height: 1.5;
  max-width: 80%;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.section-4-item::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  border: 2px solid rgb(157, 23, 198);
  box-sizing: border-box;
  top: 10px;
  left: 10px;
}

.section-4-item:hover {
  box-shadow: var(--dark-shadow);
}

@media screen and (min-width: 768px) {
  .section-4-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    max-width: 1152px;
    margin-left: auto;
    margin-right: auto;
  }

  .section-4-item {
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: calc(50% - 3rem);
  }
}

/* ====================== */
/* Projects section - Section 5 */
/* ====================== */

.skills-section {
  padding-left: 1rem;
  padding-right: 1rem;
}

.section-5 h1 {
  padding-top: 4rem;
  margin-bottom: 2rem;
  text-align: center;
}

.project-1 {
  background: rgb(242, 242, 242);
}

.project-text h3 {
  padding-top: 3rem;
  padding-left: 3rem;
  margin-bottom: 2rem;
}

.project-text p {
  padding-left: 3rem;
  padding-right: 3rem;
  padding-bottom: 1rem;
  line-height: 2;
  text-align: justify;
}

.project-1-image {
  height: 400px;
  object-fit: contain;
  margin-top: 4rem;
  margin-bottom: 4rem;
}

.project-img a {
  text-decoration: none;
}

.project-img {
  position: relative;
}

.project-icon {
  position: absolute;
  top: 0;
  left: 0;
}

/* clearfix */
.project-1::after {
  content: "";
  display: table;
  clear: both;
}

@media screen and (min-width: 650px) {
  .project-1 {
    max-width: 1152px;
    position: relative;
    margin-left: auto;
    margin-right: auto;
  }

  .project-1-container {
    float: left;
  }

  .project-text {
    width: 70%;
  }

  .project-img {
    width: 30%;
  }

  /* clearfix */
  .project-1::after {
    content: "";
    display: table;
    clear: both;
  }

  .project-text h3 {
    padding-top: 4rem;
    padding-left: 4rem;
    margin-bottom: 2rem;
  }

  .project-text p {
    padding-left: 4rem;
    margin-bottom: 2rem;
  }
}

.section-5-project {
  margin-bottom: 3rem;
}
